name: "Clinic Backend"

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Install Dependencies, and Testing the project
        run: |
          npm install
          npm run lint
          npm run type

      - name: Build Docker Image
        run: docker build -t clinic:latest .
